<div>
    <template>
        <Row type="flex" justify="center" align="middle" style="padding-top: 50px">
            <Col span="12">
            <h1>
                <img src="/src/images/Logo-Activiti.png" height="200" width="700">
            </h1>
            <h2>
                <p style="font-size: 30px; text-align: center;">
                    欢迎访问Activiti Demo，专为优秀的BPMN2.0规范的轻量级工作流引擎Activiti服务
                </p>
            </h2>
            </Col>
        </Row>
    </template>
</div>
